a {
  color:white;
}
#title {
  text-decoration: none;
  color: pink;
  font-size: 72px;
  text-align: center;
  border-bottom: 3px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:50px;
  display: block;
}
#active {
  color: hotpink;
  text-decoration: underline;
}
#desc {
  border: 1px solid white;
  margin: 30px;
  margin-left: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 0px;
}
#texttitle {
  line-height:0;
  border-bottom: 1px solid white;
  padding: 10px;
}
#pg {
  display: grid;
  grid-template-columns: 250px 1fr;
}
#Whois {
  border-bottom: 1px solid white;
  padding-bottom:20px;
}
#mainimage {
  text-align: center;
  padding: 30px;
}
img {
  width: 70%;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.list {
  color: pink;
  text-decoration: none;
  line-height: 200%;
}
body {
  letter-spacing: 1px;
  background-color: black;
  color: white;
  font-family: Impact;
}
ul {
font-size: 20px;
border-right: 1px solid white;
width: 200px;
padding-top: 30px;
margin:20px;
}
h1 {
  margin: 0;
}
h2 {
  color: lightgreen;
  font-size: 48px;
  letter-spacing: 3px;
}
h3 {
  font-size: 48px;
}
h4 {
  font-size: 24px;
  color: grey;
  font-weight: bold;
}
